@import url('reset.css');

h1 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 12px;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px dotted;
    padding-bottom: 8px;
    padding-top: 16px;
}

p {
    color: black;
    padding: 12px;
    text-align: justify;
    text-indent: 30px;
}

.content {
    font-family: Inter;
    width: 70%;
    align-self: center;
    margin: 0 auto;
}

.bold_fnt {
    font-weight: 700;
}

.italic_fnt {
    font-style: italic;
}

.chapters {
    margin: 0px auto;
    color: darkblue; 
    background-color: #DEEFE4; 
}

.header > div {
    text-align: center;
}

/* різні стилі для класу .ext_link, в залежності від того чи є він нащадком .intro чи .chapters */ 
.intro .ext_link {
    color: blue;
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.chapters .ext_link {
    color: red;
}

.chapters>p+p {
    color: darkblue;
    line-height: 28px;
} /* перший параграф-нащадок від .chapters буде того кольору, як визначено в рядку 20 (для всіх елементів p)
     інші параграфи (якщо вони є) будуть з кольором у рядку 65  */
